# list of required modules for kaldi-python

#first - pip3 install --upgrade pip

1. torch(support CUDA 10.1) - pip3 install torch==1.5.1+cu101 torchvision==0.6.1+cu101 -f https://download.pytorch.org/whl/torch_stable.html
2. kaldi_io - pip3 install kaldi-io
3. scipy - pip3 install scipy